@page
@using RagnaRock___Eksamens_Projekt.Models
@model AdminModel
@{
    ViewData["Title"] = "Udstillinger";
}



<section class="py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>RagnaRocks Udstillinger</h1>
            </div>


            <section>
                <h2>Udfyld form</h2>
                
                <form method="post" enctype="multipart/form-data" asp-page-handler="Save">


                    <div>
                        <label for="Name">Udfyld navn af udstilling</label>
                        <input type="text" id="Name" name="name" required/>
                    </div>

                    <div>
                        <label for="ShortDescription">Udfyld beskrivelse</label>
                        <input type="text" id="ShortDescription" name="shortDescription" required />
                    </div>
                    <div>
                        <label for="Description">Udfyld beskrivelse</label>
                        <input type="text" id="Description" name="description" required />
                    </div>
                    <div>
                        <label for="Images">Indsæt billede</label>
                        <input type="file" id="Images" name="ImageFile" required />
                        
                    </div>
                    <div>
                        <label for="SoundFiles">Indsæt lydfil</label>
                        <input type="file" id="SoundFiles" name="soundFiles" />
                    </div>
                    <div>
                        <button type="submit" value="Save">Indsend udstilling</button>
                    </div>






                </form>
                @if (Model.Message !=null)
                {
                    <div class=" alert alert-info">@Model.Message</div>
                }
            </section>

            @foreach (Exhibition item in Model.AllExhibitions)
            {
                <sectionn class="col-md-6 col-lg-4">
                    <article class="card my-3">


                        <article class="card-body">
                                <h3 class="card-title"><a href="#" class="text-secondary">@item.Name</a></h3>

                            <p class="card-text text-black-50">@item.ShortDescription</p>
                            <img src="images/@item.Images" class="card-image-top w-75" alt="thumbnail">
                            <br />
                            <a asp-page="/DetaljeVisning" asp-route-id="@item.Id">Se hele udsilling</a>
                        </article>

                        <a asp-page-handler="Delete"
                           asp-route-id="@item.Id">
                            <span class="material-symbols-outlined text-black">
                                delete
                            </span>
                        </a>

                    </article>
                </sectionn>
            }



        </div>
    </div>
</section>


